.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: arial;
  font-size: 14px;
}
:root{
  --main-color:#FAFAFA;
  --second-color:#2EBDDA;
  --third-color:#1C7A6A;
  --main-text-color:#3F3F3F;
  --second-text-color:#e4e4e4;
  --main-font-family:arial;
  --font-size:16px;   
}
.nav_bar-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:1em;
  border-bottom: 1px solid var(--third-color);
  box-shadow: 0px 5px 1em  rgba(72, 72, 72, 0.119);
} 
.ham_logo-container{
  display: flex;
  align-items: center;
}
/* HAMBURGER -----------------------------------------------*/
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  padding: 0 4px;
  transition: transform 0.3s;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s;
}

.open .bar:first-child {
  transform: rotate(45deg) translate(4px, 4px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:last-child {
  transform: rotate(-45deg) translate(4px, -4px);
}
/*HAMBURGER DROPDOWN ___________________________________________*/
.burger_drop-container{
  width:100%;
  background-color: var(--third-color);
  display: none;
}
.burger-links{
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.burger-links li{
  min-width: 100%;
  list-style: none;
  padding: 1em 0em;
}
.burger-links a{
  color:var(--main-color);
  font-size: var(--font-size);
  text-decoration: none;
  margin-left: 1em;
}
.burger-links a:hover{
  font-weight: 600;
}
.burger-links li:hover{
  background-color: #259a86;
}
.burger-links #active{
  font-weight: 600;
  background-color: transparent;
}
.nb-logo img{
  margin-left: 1em;
  cursor: pointer;
}

.nav-links{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-end;
  list-style: none;
}

.nav-links li{
  width: 150px;
  padding-left: 1em;
}

.nav-links a{
  text-decoration: none;
  margin: 0 5px;
  font-size: 16px;
  color: var(--main-text-color);

}
.nav-links a:hover{
  font-weight: 600;
}

#active-link{
  font-weight: 600;
}

.nav-links .iconify{
  color: #3F3F3F;
  height: 18px;
  width: 18px;
}

.nav-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--third-color);
  border-radius: 90px;
  position: relative;
}

.nav-buttons p{
 display:inline;
  padding: 0.2em 1.5em;
  font-size: 16px;
  color: var(--third-color);
  font-weight: 600;
  
}
.nav-buttons button{
  width: 48px;
  height: 48px;
  background-color: var(--third-color);
  border-radius: 90px;
  border: none;
}
/*Toggle */
.toggle-nav_btn{
  position: absolute;
  top: 16%;
  right: 5%;
}
.toggle-links{
  background-color:var(--main-color);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;   
  text-align: left;
  box-shadow: 0px 5px 1em  rgba(72, 72, 72, 0.119);
}

.toggle-links li{   
  width: 220px;
  border-bottom: 1px solid var(--main-text-color);
  border-radius: 2px;
  padding: 1.5em 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#signout{
  border: none;
}
.toggle-links li:hover{
  background-color: #f0f0f0f1;
  font-weight: 600;
  transition: 0.5s ease;
}

.toggle-links a{
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  font-size: var(--font-size);
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}
.toggle-links span{
  padding: 0 1em 0 0em;
}

/*GRID*/
 /*.grid-div{
  display: grid;
  grid-template-columns: 0.9fr 3fr;
  grid-template-areas:"side-grid db-grid" ;
  grid-gap: 1em;

} */

.grid-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 2em;
}
/*SideView _______________________________________________________________*/

.sideview{ 
  width: 15%;
  margin-top: 3em;
  color: var(--main-text-color);   
}

.sideview-container{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  
}

.time{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.time .iconify{
    width: 32px;
    height: 32px;
}

.hours{
    font-size: 20px;
    display: flex;
    align-items: center;
  
}
.hours span{
    margin-right: 1em;

}
.dates{
    display: flex;
    justify-content: center;
}

.weather{
  min-width:100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.temp{
  min-width:100%;
  background-color:#FFDB59;
  border-radius: 10px 10px 0 0;

}
.temp h1{
  font-size: 24px;
}
.temp, .weather-condition{
  min-width: 100%;
  padding: 1em;
  text-align: center;
}
.weather-condition{
  border-radius: 0px 0px 10px 10px;
 border: 4px solid #FFDB59;
}


 /*DASHBOARD -----------------------------------------------*/

 .db-greenhouse{
  margin-top:2.5em ;
  width: 75%;
  grid-area: db-grid;
}
.db-buttons{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-bottom: 5px;
}
.db-buttons a{
  margin: 0 1em;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}
.display-container{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "temperature humidity";  

}
.temperature-container{
  grid-area:temperature;
}
.temperature-display{
  background-color: var(--second-color);
  padding:3em;
  border-radius: 10px 0 0px 10px;
}
.humidity-display{
  grid-area:humidity;
  background-color: var(--second-color);
  padding:3em;
  border-radius: 10px;
  border-radius: 0px 10px 10px 0px;
}
.temperature-display h3, .humidity-display h3{
  font-weight: 600;
  font-size: var(--font-size);
}
.temperature-display h2, .humidity-display h2{
  font-size: 72px;
  text-align: center;
}
.temperature-display p, .humidity-display p{
  text-align: center;
  font-size:14px;
}
.temperature-data, .humidity-data{
 margin: 1em 0;

}
table{
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  border: 4px solid #134550be;   
  overflow: hidden;
}
table thead{
  background-color: var(--second-color);

}
table th{
  padding: 1em;
 
}
table td{
  padding: 0.5em;
 
}
table tr{
  padding: 10px;
  border-bottom: 1px solid var(--main-text-color);
}

tbody tr:hover{
  background-color: #3f3f3f31;
}   


@media only screen and (max-width:600px) {
  /*Hamburger*/

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .burger_drop-container{
    display: block;
  }
  .nav-links{
      display:none;
  }
/*Grid */

 .grid-div{
      display: grid;
      grid-template-columns:1fr;
      grid-template-areas:"sideView"
                          "db-greenhouse";
     
  }
  .sideview{
    width: 100%;
    grid-area:sideView;
  }
  .sideview-container{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-gap: 1em;
    align-items: center;
  }
 

  .db-greenhouse{
    width: 100%;
    grid-area: db-greenhouse;
  }
 
  
  .display-container{
      display: grid;
      grid-template-columns:1fr;
      grid-template-areas:"temperature-container"
                          "humidity-container";

     
  }
  .temperature-container{
      grid-area:temperature-container;
      
  }
  .temperature-display{
      border-radius: 10px;
  }
  .humidity-display{
      grid-area: humidity;
  }
}


























/* Login Form ___________________________________________*/

.container-login{
  display: grid;
  background-color:var(--second-color);
  height: 100vh;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-areas:"col-1 login-form col-3";
  
  }
.col-1{
  grid-area: col-1;
}
.login-form{
  width: 100%;
  height: 100%;
  margin-bottom:2em;
  grid-area: login-form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.login-form-2{
  width:25em;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background-color: var(--main-color);
  font-size: var(--font-size);
  position: relative;
  box-shadow: 0px 10px 1em  rgba(72, 72, 72, 0.238);
}

#logo-login{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:5px solid var(--second-color);
  position: absolute;
  top: 4%;
  bottom: 0;
  z-index: 1000000000;
}
.form{
  width: 100%;
  padding: 0px 50px;
  margin-top: 2em;
}
.form li{
  width: 100%;
  list-style: none;
  margin-bottom: 1em;

}
.form input{
 width: 100%;
  height: 54px;
  border-radius: 5px;
  border:1px solid var(--third-color);
  border-radius: 5px;
  padding-left: 1em;
}
.login-button{
  width: 100%;
  height: 54px;
  border-radius: 5px;
  border: none;
  color: var(--main-color);
  letter-spacing: 2px;
  background-color:var(--third-color);
  font-size: var(--font-size);
  font-weight: bold;
}
.login-button:hover{
  background-color:#259a86;
}
.show-button{
  border-radius: 5px;
  border: none;
  font-size: 12px;
  padding-top: 4px;
}
.form a{
  font-size: 12px;
}

button:active{
  transform: translateY(1px);
}
.col-3{
  grid-area: col-3;
}
#active{
  background-color: var(--third-color);
  border: none;
  color: var(--second-text-color);
}
.user{
  padding-top: 50px;
}
